@import "../base/variables";

body {
  font-size: 16px;
  line-height: 1.5;
  color: #00425E;
  font-family: $fontStdBook;

  @media screen and (max-width: 991px) {
    font-size: 14px;
  }
}
.container {
  max-width: 1440px !important;
  padding-left: 5%;
  padding-right: 5%;

  @media screen and (max-width: 991px) {
    padding-right: 1em;
    padding-left: 1em;
  }
}

.content {

}

.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  pointer-events: none;
}

.sec {
  position: relative;
  z-index: 10;
  background-color: #F7F7F9;

  &-main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 100vh;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,.25);
      z-index: 1;
      pointer-events: none;
    }

    h1 {
      position: relative;
      z-index: 2;
      color: #fff;
    }
  }

  &-secondary {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 880px) {
      padding-bottom: 75px;
      padding-top: 75px;
    }

    @media screen and (min-width: 480px) {
      padding-bottom: 48px;
      padding-top: 48px;
    }

    @media screen and (max-width: 812px) {
      height: auto;
      padding: 2em 0;
    }

    .top {
      position: relative;
      top: -25vh;

      @media screen and (max-width: 812px) {
        position: initial;
        top: initial;
        margin-bottom: 5em;
      }
    }

    .bottom {
      position: relative;
      top: 25vh;

      @media screen and (max-width: 812px) {
        position: initial;
        top: initial;
      }
    }
  }
}

h1 {
  font-size: 3.75em;
  text-align: center;
  font-family: $fontStdBlack;
  font-weight: 900;

  @media screen and (max-width: 1199px) {
    font-size: 2.75em;
  }

  @media screen and (max-width: 600px) {
    font-size: 2em;
  }

  @media screen and (max-width: 812px) and (orientation: landscape) {
    font-size: 2em;
  }
}

.drop-menu {
  display: none;
  padding: 5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  z-index: 11;
  height: 100vh;
  background-color: #fff;
  overflow-y: auto;
  transition: transform .5s ease-in-out;

  @media screen and (max-width: 812px) {
    display: block;
  }

  @media screen and (max-width: 600px) {
    padding: 5em 1em;
  }

  .open-drop-menu & {
    transform: translateY(0);
  }
  
  .nav {
    display: block;
    margin-bottom: 1em;

    &__drop-list {
      display: none;
      position: initial;
      opacity: initial;
      visibility: initial;
    }
    
    &__list {
      display: inherit;
    }
    
    &__item {
      color: #00425E;
      display: block;
    }

    & > .nav__link {
      color: #00425E;
    }

    &__link {
      display: block;
    }
  }

  .btn {
    display: inline-block;
    border-color: #1A2338;
    color: #1A2338;
  }

  .button--wayra:hover {
    color: #fff;
  }
}

.info {
  display: flex;

  @media screen and (max-width: 991px) {
    display: block;
  }

  &.info-reverse {
    flex-direction: row-reverse;
  }

  &__picture {
    position: relative;
    left: 64px;
    display: block;
    width: 44.5%;

    @media screen and (max-width: 991px) {
      padding-left: 40px;
      padding-right: 40px;
      left: 0;
      width: 100%;
    }

    .info-reverse & {
      left: initial;
      right: 64px;

      @media screen and (max-width: 991px) {
        padding-left: 40px;
        padding-right: 40px;
        left: 0;
        width: 100%;
      }
    }

    img {
      max-width: 100%;
      width: 100%;
      height: auto;

      @media screen and (max-width: 991px) {
        width: 60%;
        min-width: 240px;
        margin: auto;
        display: block;
        height: auto;
      }
    }
  }

  &__grid {
    width: 55.5%;
    padding: 96px 40px 96px 160px;
    margin-top: -48px;
    background-color: #fff;
    //margin-bottom: 40px;

    @media screen and (min-width: 992px) and (max-width: 1199px) {
      padding: 80px 40px 80px 160px;
    }

    @media screen and (max-width: 991px) {
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 40px;
      width: 100%;
    }

    .info-reverse & {
      padding: 96px 160px 96px 40px;

      @media screen and (min-width: 992px) and (max-width: 1199px) {
        padding: 80px 160px 80px 40px;
      }

      @media screen and (max-width: 991px) {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        width: 100%;
      }
    }
  }

  &__title {
    margin-bottom: 2.5em;
    font-size: 3.75em;
    line-height: 1;
    font-family: $fontStdBlack;
    font-weight: 900;

    @media screen and (max-width: 1199px) {
      font-size: 2.75em;
      margin-bottom: 1.5em;
    }

    @media screen and (max-width: 600px) {
      font-size: 2em;
      margin-bottom: 1em;
    }
  }

  &__text {
    margin-bottom: 1.5em;
    font-size: 1.75em;
    line-height: 1.2;
    font-family: $fontStdBold;
    font-weight: 700;

    @media screen and (max-width: 1199px) {
      font-size: 1.25em;
      margin-bottom: 1em;
    }

    @media screen and (max-width: 600px) {
      font-size: 1em;
    }
  }

  &__btn {
    margin-top: 40px;
  }
}

.footer {
  background-color: #ffffff;
  padding: 1em 0;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.copyright {
  color: #00425E;
}

.social {
  &__link {
    transition: opacity .15s ease-in-out;

    &:hover {
      opacity: .85;
    }

    & + & {
      margin-left: .5em;
    }

    svg {
      width: auto;
      height: 20px;
      fill: #00425E;
    }
  }
}
