.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 11;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0 1px 0 rgba(0,0,0,0.201814);
  transform: translateY(0);
  transition: transform .35s ease-in-out;

  &.sticky {
    transform: translateY(-100%);
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    max-width: 6em;
    height: auto;
    margin-right: 1em;
    opacity: 1;
    visibility: visible;
    transition:
            visibility .35s ease-in-out .35s,
            opacity .35s ease-in-out .35s;

    .open-drop-menu & {
      opacity: 0;
      visibility: hidden;
      transition: visibility .15s ease-in-out, opacity .15s ease-in-out;
    }
  }

  &__nav {
    @media screen and (max-width: 812px) {
      display: none;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    padding: 1.25em 0;

    .btn {
      @media screen and (max-width: 812px) {
        display: none;
      }
    }

    .hamburger {
      margin-left: 1rem;
    }
  }
}
