@import "../base/variables";

.nav {
  display: flex;

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    padding: .75em 1.5em .75em 1em;
    margin-right: 1.5em;
    font-size: 1em;
    line-height: 1;
    color: #00425E;
    font-weight: 700;
    font-family: $fontStdBold;
    //color: #fff;
    cursor: pointer;

    @media screen and (max-width: 1199px) {
      margin-right: 1em;
    }

    &::before {
      background: #fafafa;
      border-bottom: 2px solid #00425E;
      content: "";
      height: 100%;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      right: -1em;
      left: 0;
      top: 1px;
      transition: opacity .2s ease;
      z-index: -1;
    }

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      height: .375em;
      width: .5625em;
      z-index: 1;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 6'%3E%3Cpath d='M1,1,4.5,5,8,1' fill='none' stroke='%2300425e' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E");
    }

    &:hover {

      @media screen and (min-width: 813px) {

        &::before {
          opacity: 1;
          pointer-events: auto;
        }

        &::after {
          border-color: rgba(#00425E, .85);
          border-right-color: transparent;
          border-top-color: transparent;
        }

        .nav__drop-list {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  &__drop-list {
    padding: .2em 0;
    position: absolute;
    top: 100%;
    left: calc(-.5em - 1px);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    border: 1px solid #00425E;
    border-radius: .25em;
    background-color: #fff;
    backface-visibility: hidden;
    transform: translateY(.5em);
    transition:
            visibility .35s ease-in-out,
            opacity .35s ease-in-out,
            transform .35s ease-in-out;

    .nav__link {
      display: block;
      padding: .2em .5em;
      white-space: nowrap;
      transition: background-color .15s ease-in-out;

      &:hover {
        background-color: rgba(#00425E, .15);
      }
    }

    &::after {
      position: absolute;
      content: "";
      bottom: calc(100% - .35em);
      left: 1.25em;
      width: .75em;
      height: .75em;
      border: 1px solid #00425E;
      border-right-color: transparent;
      border-top-color: transparent;
      transform: rotate(135deg);
      background-color: #ffffff;
      border-radius: .15em;
      z-index: 1;
    }
  }

  &__list {
    display: flex;
  }

  &__row {
    position: relative;
    z-index: 2;
  }

  &__link {
    font-size: 1em;
    line-height: 1;
    color: #00425E;
  }

  & > .nav__link {
    display: flex;
    align-items: center;
    padding: .75em 1em;
    color: #00425E;
    font-weight: 700;
    font-family: $fontStdBold;
    transition: color .15s ease-in-out;

    &:not(:last-child) {
      margin-right: 1em;

      @media screen and (max-width: 1199px) {
        margin-right: 0;
      }
    }

    @media screen and (min-width: 813px) {
      position: relative;

      &::before {
        background: #fafafa;
        border-bottom: 2px solid #00425E;
        content: "";
        height: 100%;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        left: 0;
        top: 1px;
        transition: opacity .2s ease;
        z-index: -1;
      }

      &:hover {
        &::before {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
  }
}
