@import "../../base/variables";

.btn {
  display: inline-flex;
  padding: .9em 1.35em;
  border: 1px solid #00425E;
  //border: 1px solid #fff;
  color: #00425E;
  //color: #fff;
  border-radius: 18.3125rem;
  text-transform: uppercase;
  font-size: .85em;
  line-height: 1;
  font-family: $fontStdBold;
  font-weight: 700;
  white-space: nowrap;
  z-index: 1;
}

/* Wayra */
.button--wayra {
  position: relative;
  overflow: hidden;
  transition: border-color 0.3s, color 0.3s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #37474f;
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  }

  &:hover {
    color: #fff;
    border-color: #00425E;

    &::before {
      opacity: 1;
      background-color: #00425E;
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
      -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
  }
}
